<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="https://tlnevents.com/favicon.png"
    />
    <title>Your Tickets for ${event name}</title>
    <!--google fonts Urbanist-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!--fontawesome icons-->
    <script
      src="https://kit.fontawesome.com/64caa2182f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    style="
      width: 90%;
      font-family: 'Urbanist', sans-serif;
      background-color: #606060;
      color: #fff;
      padding: 30px 20px;
      margin: 0;
    "
  >
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <td>
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
            style="max-width: 600px"
          >
            <tr>
              <td bgcolor="#606060">
                <a href="https://tlnevents.com">
                  <img
                    width="150"
                    src="https://tlnevents.com/logo-white.png"
                    style="display: block"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td style="padding: 70px 0 50px">
                <h1 style="margin: 0">Ticket on deck!</h1>
                <h1 style="padding: 5px 0 20px 0; color: #f7ec31; margin: 0">
                  Jeremiah
                </h1>
                <h4 style="margin: 0">
                  Bring those tickets to the event for legit vibes!
                </h4>
              </td>
            </tr>
            <tr>
              <td>
                <h2 style="color: #bfdf37">Splash Fest</h2>

                <a href="https://tlnevents.com/lpe">
                  <img
                    width="300px"
                    style="height: 350px; border-radius: 6px"
                    src="https://tlnevents.com/assets/events-banner/splash-fest.webp"
                    alt="Event Banner"
                  />
                </a>

                <div>
                  <h3 style="margin: 40px 0 5px 0">
                    Comprehensive High School, Alapere, Lagos
                  </h3>
                  <a href="https://maps.app.goo.gl/XNsrAmmX9jSnriEJ8"
                    ><h5 style="margin: 0">View on Google Map 🗺️</h5></a
                  >
                </div>
                <div>
                  <div style="margin: 40px 0 5px 0">
                    <h4 style="margin: 0 0 10px 0">
                      From &bull; Oct 04, 2025 &bull; 05:00PM &bull; To &bull;
                      Oct 05, 2025 &bull; 02:00AM
                    </h4>

                    <a
                      href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Splash+Fest&dates=2025-10-04T19%3A00%3A00Z%2F2025-10-05T00%3A00%3A00Z&details=Splash+Fest+is+the+ultimate+water-themed+festival+bringing+fun%2C+games%2C+and+music+to+Alapere%21+Get+ready+for+water+battles%2C+exciting+side+attractions%2C+and+live+performances+all+in+one+unforgettable+evening.+It%E2%80%99s+more+than+an+event+%E2%80%93+it%E2%80%99s+an+experience+filled+with+laughter%2C+energy%2C+and+real+vibes+in+Lagos.&location=Comprehensive+High+School%2C+Alapere%2C+Lagos"
                      ><h5 style="margin: 0">Add to Google Calendar 🗓️</h5></a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td bgcolor="#606060" style="padding: 50px 0">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="max-width: 600px"
                >
                  <tr>
                    <td>
                      <h2>Order Summary</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        width="100%"
                        style="max-width: 600px"
                      >
                        <h3
                          style="
                            margin: 0;
                            padding: 10px 0;
                            border-bottom: 1px solid #3b3b3b;
                          "
                        >
                          Order ID: A2SH3
                        </h3>
                        <tr>
                          <td
                            width="70%;"
                            style="
                              padding: 20px 0;
                              border-bottom: 1px solid #3b3b3b;
                            "
                          >
                            <h4 style="margin: 0">General x 1</h4>
                          </td>
                          <td
                            width="30%;"
                            style="
                              padding: 20px 0;
                              border-bottom: 1px solid #3b3b3b;
                            "
                            align="end"
                          >
                            <h4 style="margin: 0">NGN8,000</h4>
                          </td>
                        </tr>
                        <tr>
                          <td width="50%;" style="padding: 20px 0">
                            <h4 style="margin: 0">Subtotal</h4>
                          </td>
                          <td width="50%;" style="padding: 20px 0" align="end">
                            <h4 style="margin: 0">NGN8,000</h4>
                          </td>
                        </tr>
                        <tr>
                          <td
                            width="50%;"
                            style="
                              padding: 20px 0;
                              border-bottom: 1px solid #3b3b3b;
                            "
                          >
                            <h4 style="margin: 0">Fees</h4>
                          </td>
                          <td
                            width="50%;"
                            style="
                              padding: 20px 0;
                              border-bottom: 1px solid #3b3b3b;
                            "
                            align="end"
                          >
                            <h4 style="margin: 0">NGN500</h4>
                          </td>
                        </tr>
                        <tr>
                          <td
                            width="50%;"
                            style="
                              padding: 20px 0;
                              border-bottom: 1px solid #3b3b3b;
                            "
                          >
                            <h4 style="margin: 0">Total</h4>
                          </td>
                          <td
                            width="50%;"
                            style="
                              padding: 20px 0;
                              border-bottom: 1px solid #3b3b3b;
                            "
                            align="end"
                          >
                            <h4 style="margin: 0">NGN8,500</h4>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center">
                <h3 style="text-align: center">
                  For event or purchase queries,
                  <a
                    href="mailto:adekitan.babajide@gmail.com"
                    style="text-decoration: none"
                    ><span style="color: #bfdf37"
                      >contact the organizers</span
                    ></a
                  >.
                </h3>
                <div style="text-align: center">
                  <a href="https://tlnevents.com">
                    <img
                      width="150"
                      src="https://tlnevents.com/logo-white.png"
                      alt="The Lemonade Network Logo"
                    />
                  </a>
                </div>
                <div style="text-align: center; padding: 20px 0">
                  <a
                    style="
                      display: inline-block;
                      text-decoration: none;
                      color: #efefef;
                    "
                    href="https://instagram.com/lemonade.africa"
                    target="_blank"
                    ><i class="fa-brands fa-instagram"></i>
                  </a>

                  <a
                    style="
                      display: inline-block;
                      padding: 0 50px;
                      text-decoration: none;
                      color: #efefef;
                    "
                    href="https://twitter.com/lemonade_africa"
                    target="_blank"
                    ><i class="fa-brands fa-twitter"></i>
                  </a>

                  <a
                    style="
                      display: inline-block;
                      text-decoration: none;
                      color: #efefef;
                    "
                    href="https://tiktok.com/@lemonade.africa"
                    target="_blank"
                    ><i class="fa-brands fa-tiktok"></i
                  ></a>
                </div>
                <h5 style="width: 75%; text-align: center">
                  © 2025. The Lemonade Network Events. All Rights Reserved.
                </h5>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
